*
{
  margin:0;
  padding:0;
}

.row
{
  max-width:1140px;
  margin:0 auto;
}
body{
  font-family: tahoma;
}

header
{
  background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("C:/Users/sanjay/Desktop/Project/Images/main.png");
  height: 150vh;
  background-position: center#c40310;
  background-size: cover;
}
 h2
 {

  text-align: center;
  color: #c40310;
  position: absolute;
  top : 1%;
  left :30%;
  text-decoration: underline;

}

.rules-nav
{
  list-style: none;
  float: right;
  margin-top: 10px;
}
.rules-nav li
{
  display: inline-block;
  margin-left: 140px;

}
.rules-nav li a
{
  color: #c40310;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;
  margin-top: 20%;
}

.logo img{
  height :90px;
  float: left;
  margin-top:10px;
  transform: translate(-70%,10%);
}

.rules-nav li a:hover
{
  color: #e67e22;
  border-bottom: 2px solid  #e67e22;
  transition: all 0.5s ease-in;
  padding: 15px 0;
}
.gamerules
{
width: 70%;
margin-left: 15%;
position: absolute;
top: 20%;
color:#e67e22;
}

.partone
{
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  color: #4192f4;
}
.partthree
{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-family: BlackChancery;
  color: #4192f4;
}
.partfour
{
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #4192f4;
}
.partfive
{
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #4192f4;
}
.partsix

  {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: #4192f4;
  }
.partseven
{
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #4192f4;
}
.parteight
{
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #4192f4;
}
