*
{
  margin:0;
  padding:0;
}

.row
{
  max-width:1140px;
  margin:0 auto;
}
body{
  font-family: tahoma;
}
.title
{
  position:absolute;
  width : 1140px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
header
{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)),url(1.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
h1{
  color: white;
}

.main-nav
{
  list-style: none;
  float: right;
  margin-top: 10px;
}
.main-nav li
{
  display: inline-block;
  margin-left: 205px;
}
.main-nav li a
{
  color: #c40310;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;
  margin-top: 20%;
}

.logo img{
  height :90px;
  float: left;
  margin-top:10px;
  transform: translate(-70%,10%);
}

.main-nav li a:hover
{
  color: #e67e22;
  border-bottom: 2px solid  #e67e22;
  transition: all 0.5s ease-in;
  padding: 15px 0;
}

.btn
{
  border :1px solid #e67e22;
  padding :10px 30px;
  color: #e67e22;
  text-decoration: none;
  border-radius: 12px;
  background-color:linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)),url(1.png);
  margin-right: 15px;
}
.buttonclass
{
  margin-top:40px;
}
.btn-lore
{
  background-color:#e67e22;
  color: white;

}

.btn-rules:hover
{
  background-color: #e67e22;
  color: #c40310;
  transition: all 1.2s ease-in;
}
