body
{
  background-image:linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)),url('../Images/congrats.png');
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.logo
{
  height: 90px;
}
.title
{
  color:white;
  font-weight: bolder;
}
.main-nav
{
  list-style: none;
}
.main-nav li
{
  display: inline-block;
}
.main-nav li a
{
  color: #e67e22;
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
}
.main-nav li a:hover
{
  color: #e67e22;
  border-bottom: 2px solid  #e67e22;
  transition: all 0.5s ease-in;
  padding: 0px 0px 15px 0px;
}
.btn-main
{
  border :1px solid #e67e22;
  color: #e67e22;
  text-decoration: none;
  border-radius: 22px;
}

.btn-lore:hover
{
  background-color:#e67e22;
  color: white;
  transition: all 1.2s ease-in;
}

.btn-rules:hover
{
  background-color: #e67e22;
  color: white;
  transition: all 1.2s ease-in;
}