*
{
  margin:0;
  padding:0;
}

.row
{
  max-width:1140px;
  margin:0 auto;
}
body{
  font-family: tahoma;
}
.title
{
  position:absolute;
  width : 1140px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
html {
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('final.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  color: white;
  font-size: 40px;
}

.main-nav
{
  list-style: none;
  float: right;
  margin-top: 10px;
}
.main-nav li
{
  display: inline-block;
  margin-left: 205px;
}
.main-nav li a
{
  color: #e67e22;
  text-decoration: none;
  font-size: 120%;
  font-weight: bold;
  margin-top: 20%;
}

.logo img{
  height :90px;
  float: left;
  margin-top:10px;
  transform: translate(-70%,10%);
}

.main-nav li a:hover
{
  color: #e67e22;
  border-bottom: 2px solid  #e67e22;
  transition: all 0.5s ease-in;
  padding: 15px 0;
}
