body
{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../Images/new.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.logo img
{
  height: 90px;
}

h2{
  color: #f4d942;
  font-weight: bold;
  font-style: italic;
  font-family: tahoma;
  text-decoration: underline;
}

.teamnames
{
  text-align: left;
  font-size: x-large;
  font-weight: bold;
  color: #79e845;
}