body
{
  background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("../Images/main.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.logo
{
  height: 90px;
}
.main-nav
{
  list-style: none;
  float: right;
}
.main-nav li
{
  display: inline-block;
}
.main-nav li a
{
  color: #e67e22;
  text-decoration: none;
  font-weight: bold;
}
.main-nav li a:hover
{
  color: #e67e22;
  border-bottom: 2px solid  #e67e22;
  transition: all 0.5s ease-in;
  padding: 15px 15px;
}
.text-color-white{
    color: #ffffff;
}
textarea {
    background-color: white;
    font-size: 1.5em;
    font-weight: bold;
    color: solid black;
}
.bannerMobile {
  display: none;
}
@media only screen and (max-width: 800px) {
  /* For Mobiles: */
  .bannerDesktop {
      display: none;
  }

  .bannerMobile {
      display: block;
  }
}