*
{
  margin:0;
  padding:0;
}

body{
  font-family: tahoma;
}
.title
{
  position:absolute;
  width : 1140px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
html {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(1,0,0,0.4)),url('(../Images/go.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo img{
  height :100px;
  float: left;
  margin-top:40px;
  transform: translate(30%,-300%);
}

.btn
{
  border :1px solid #e67e22;
  padding :10px 30px;
  color: #e67e22;
  text-decoration: none;
  border-radius: 12px;
  background-color:linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)),url("new.jpg");
  margin-right: 15px;
}
.buttonclass
{
  margin-top:290px;
  font-size: 28px;
  }
h1{
  color: white;
  font-size: 20px;
  align: center;
}
.btn-quit:hover
{
  background-color:#e67e22;
  color: white;
  transition: all 1.2s ease-in;
}

.btn-startagain:hover
{
  background-color: #e67e22;
  color: white;
  transition: all 1.2s ease-in;
}
