*
{
  margin:0;
  padding:0;
}

.row
{
  max-width:1140px;
  margin:0 auto;
}
body{
  font-family: tahoma;
}

html { 
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../Images/main.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 h2
 {

  text-align: center;
  color: #f8d983;
  position: absolute;
  top : 5%;
  left :30%;
  text-decoration: underline;

}

.rules-nav
{
  list-style: none;
  float: right;
  margin-top: 18px;
}
.rules-nav li
{
  display: inline-block;
  margin-left: 140px;

}
.rules-nav li a
{
  color: #e67e22;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  margin-top: 30%;
}

.logo img{
  height :90px;
  float: left;
  margin-top:10px;
  transform: translate(-70%,10%);
}

.rules-nav li a:hover
{
  color: #e67e22;
  border-bottom: 2px solid  #e67e22;
  transition: all 0.5s ease-in;
  padding: 0px 0px 15px 0px;
}
.gamerules
{
width: 70%;
margin-left: 15%;
position: absolute;
top: 20%;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 1.4em;
color:#c9dfda;
}

.partone
{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  color: #f8d983;
}
.partthree
{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-family: BlackChancery;
  color: #f8d983;
}
.partfour
{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #f8d983;
}
.partfive
{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #f8d983;
}
.partsix

  {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: #f8d983;
  }
.partseven
{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #f8d983;
}
.parteight
{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #f8d983;
}
